{% extends 'base/base.html' %}
{% load i18n static compress %}
{% block content %}
    <form{% block form_action %}{% endblock %} method="{% block form_method %}{% endblock %}">
        <table class="table">
            {{ form.as_table }}
        </table>
        {% block submit %}
            <button type="submit">
                {% if form.instance %}
                    {% translate 'Updated' %}
                {% else %}
                    {% translate 'Created' %}
                {% endif %}
            </button>
        {% endblock %}
        {% csrf_token %}
    </form>
{% endblock %}
